@font-face {
    font-family: ROGFont;
    src: url(../fonts/ROGLyonsTypeRegular3.ttf);
}

body {
    font-family: ROGFont;
    color: white;
    background-color: black;
    font-size: 2rem;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.blueText {
    color: #00CCFF;
}

#hidden-button {
    margin-top: 1rem;
    margin-left: 11rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1vw 0 2vw;
    border-bottom-style: solid;
    /*box-shadow: 0 0 15px 5px rgba(255, 255, 255, 1);*/
    animation: whiteGlow 5s infinite ease-in-out;
}

@keyframes whiteGlow {
    0% {
        box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.75);
    }
    50% {
        box-shadow: 0 0 15px 8px rgba(255, 255, 255, 0.75);
    }
    100% {
        box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.75);
    }

}


.headerLeft {
    margin-top: 1rem;
}

.headerLeftText {
    margin: 0;
    padding: 2vh 0 2vh 0;
}

.headerRight {
    display: flex;
}

.headerRightPart {
    border-left-style: solid;
    padding: 2vh 2vw 2vh 2vw;

}

.headerRightText {
    margin: 0;
}

.buttonlink {
    color: black;
}

.mainText {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0vh;
}

.mainTitle {
    font-size: 12rem;
    margin-top: 10vh;
    margin-bottom: 0;
}

.mainSubtitle {
    font-size: 1.5rem;
}

.invisiDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
    margin-top: 0rem;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /*width: 50vw;*/

}

.item {
    flex: 1 15%;
    max-width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #00CCFF;
    box-shadow: 0 0 15px 5px rgba(0, 128, 255, 0.75);
    padding: 3rem;
    margin: 3rem;
    min-height: 50vh;
    max-height: 50vh;
}

.item img {
    width: 25vh;
    height: 20vh;
}

.item:hover {
    animation: glow 2s infinite ease-in-out;
    box-shadow: 0 0 0 0 transparent;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 15px 5px rgba(0, 128, 255, 0.75);
    }
    50% {
        box-shadow: 0 0 15px 10px rgba(0, 128, 255, 0.75);
    }
    100% {
        box-shadow: 0 0 15px 5px rgba(0, 128, 255, 0.75);
    }

}

img {
    width: 50%;
    height: 80%;
}

.buyButton {
    margin-top: 1rem;
    background-color: black;
    border: 3px solid #00CCFF;
    box-shadow: 0 0 15px 5px rgba(0, 128, 255, 0.75);
    width: 6rem;
    height: 3rem;
    color: white;
}

.buyButton:hover{
    animation: glow 2s infinite ease-in-out;
    box-shadow: 0 0 0 0 transparent;
}

.buttonLink {
    font-size: 24px;
}

footer {
    position: sticky;
    left: 0;
    width: 100%;
    display: flex;
    border-top: 2px white solid;
    animation: whiteGlow 2s infinite ease-in-out;
    margin-top: 4rem;
    justify-content: center;
    align-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.footerP {
    color: #454545;
    font-size: 20px;
}

.footerPVisible {
    color: white;
    font-size: 20px;
}

.viP1 {
    color: #454545;
    font-size: 14px;
}

.viP2 {
    color: #6a6a6a;
    font-size: 14px;
    margin-left: 5px;
}


.signupTitle {
    font-size: 5rem;
    text-align: center;
}

.formWhole {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginWhole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  

}

.loginLabel {
    display: flex;
    flex-direction: column;
}

.loginInput {
    display: flex;
    flex-direction: column;
  
}

.spacingDiv {
    margin-top: 13vh;
    margin-bottom: 12vh;
    padding-bottom: 1rem;

}

.inputField {
    display: flex;
    flex-direction: column;
    height: 15vh;
}

.loginWhole input,
.loginWhole textarea {
    height: 5vh;
    width: 20vw;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: #00CCFF;
    box-shadow: 0 0 15px 5px rgba(0, 128, 255, 0.75);
}

.formWhole input,
.formWhole textarea {
    padding-left: 1vw;
    margin-top: 1vh;
    height: 5vh;
    width: 20vw;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: #00CCFF;
    box-shadow: 0 0 15px 5px rgba(0, 128, 255, 0.75);
}

.checkoutMain input,
.checkoutmain textarea
{
    padding-left: 1vw;
    margin-top: 1vh;
    height: 5vh;
    width: 20vw;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: #00CCFF;
    box-shadow: 0 0 15px 5px rgba(0, 128, 255, 0.75);
}



.submitButtonHolder {
    margin-top: 6vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
}

.submitButton {
    font-size: 1.5rem;
    height: 8vh;
    width: 20vw;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: #00CCFF;
    box-shadow: 0 0 15px 5px rgba(0, 128, 255, 0.75);
    padding: 1vw;
}

.submitButton:hover {
    box-shadow: 0 0 15px 5px rgba(0, 128, 255, 1);
    cursor: pointer;
}


.webcam-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.webcam-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.webcam {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.webcam2 {
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 15vh;
    border: 1px solid #ddd;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-left: 5vh;
    padding-right: 5vh;
}

.webcam video {
    width: 100%;
    height: auto;
    pointer-events: none;
}


.webcam-container {
    position: relative;
    overflow: hidden;
}

.webcam-container video {

    pointer-events: none;
    width: 100%;
    height: auto;
}

.webcam-container:hover video {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #00CCFF;
    width: 50%; /* Could be more or less, depending on screen size */
}

.modal-content-checkout {
    background-color: black;
    margin: 5% auto;
    padding: 20px;
    border: 2px solid #00CCFF;
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


video {
    width: 100%;
    height: auto;
}

.modal-text {
    margin-top: 15px;
    font-size: 16px;
    color: white;
}

#modal-video {
    pointer-events: none;
    user-select: none;
}


video.ready {
    display: block;
}

.webcam-container {
    position: relative;
    overflow: hidden;
}


.live-indicator {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: none;
}


.live-indicator .indicator {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-right: 8px;
    animation: none;
}


.live-indicator .text {
    color: white;
    font-size: 14px;
    font-weight: bold;
    animation: none;
}

/* Knipperanimatie */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.webcam-container:hover .live-indicator {
    opacity: 1;
    animation: blink 1s infinite;
}

.webcam-container:hover .live-indicator .indicator,
.webcam-container:hover .live-indicator .text {
    animation: blink 1s infinite;
}


video {
    display: block;
    width: 100%;
    height: auto;
}

.mainCheckout {
    display: flex;
    justify-content: center;
}

.checkoutInformation {
    display: flex;
    flex-direction: column;
    width: 60vw;
    max-width: 60vw;
    margin-top: 10vh;
    margin-left: 10vw;
}

.checkoutForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    max-width: 40vw;
    margin-top: 10vh;
    margin-right: 10vw;
}

.checkoutName {
    font-size: 4.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.checkoutPrice {
    font-size: 2rem;
}

.blurred {
    filter: blur(8px);
    pointer-events: none;
}


.paywall-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black; 
    padding: 20px;
    border: 2px solid #00CCFF; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    width: 50%; 
    height: 70vh; 
    text-align: center;
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.paywall-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 998;
}


#payment-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#crypto-wallet {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 20vw;
    color: white;
    text-align: center; 
    background-color: black;
    border-style: solid;
    border-color: #00CCFF;
}


.product-name {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #00CCFF;
    margin-top: 1rem;
}


.product-price {
    font-size: 1.2rem;
    color: #ff9900;
    margin-bottom: 1rem;
}

.product-description {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.5rem;
}

.purchaseButtonHolder {
    margin-top: 3vh;
    align-self: center;
}

.checkoutMain {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.disclaimerText {
    color: gray;
    text-align: center;
    font-size: 1.5rem;
}

.centeredText {
    text-align: center;
    margin-top: 0px;
}

.centeredTextDisclaimer {
    text-align: center;
    margin-top: 0px;
    color: #454545;
    font-size: 1rem;
    margin-bottom: 5vh;
}

.centeredDiv {
    align-self: center;
}

.aSubmitButton {
    font-size: 2rem;
    height: 8vh;
    width: 20vw;
    color: white;
    border-style: solid;
    border-color: #00CCFF;
    padding: 1vw;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.user-info.card {
    
    padding: 40vh;
    border: 1px solid #e0e0e0;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 5vh auto;
    font-size: 1rem;
    background: #fff;
    max-width: 600px;
    position: relative;
    z-index: 1000;
}

.user-info.card:hover {
    transform: translateY(-5px);
}

.user-details {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.8;
}

.user-details li {
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
}

.user-details li strong {
    color: white;
    font-weight: 600;
}

.user-details li span {
    color: white;
    text-align: right;
}

#user-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: black;
    padding: 20px;
    z-index: 1001;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

#user-modal .user-details li {
    color: white !important;
}

.error {
    color: red;
    display: flex;
    justify-content: center;
}

.signupError {
    margin-top: 5px;
    color: red;
    display: flex;
    justify-content: start;
    font-size: small;
}