body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    font-size: 2rem;
    margin: 0;
  }

a {
    color: white;
    text-decoration: none;
}

.blueText{
    color: #00CCFF;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0vh 1vw 0vh 2vw;
    border-bottom-style: solid;
}

.headerLeftText{
    margin: 0;
    padding: 2vh 0vw 2vh 0vw;
}

.headerRight{
    display: flex;
}

.headerRightPart{
    border-left-style: solid;
    padding: 2vh 2vw 2vh 2vw;
}

.headerRightText{
    margin: 0;
}

.buttonlink {
    color: black;
}

.mainText {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mainTitle{
    font-size: 17rem;
    margin-top: 10vh;
    margin-bottom: 0;
}

.mainSubtitle{
    font-size: 	2rem;
}

.mainButton{
    align-self: center;
    width: 20vw;
    border-style: solid;
    border-color: #00CCFF;
    margin-top: 8vh;
}

.mainButtonText{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.invisiDiv {
    margin-bottom: 10rem;
    margin-top:10rem ;
}

.items {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:  2px solid white;
    padding: 2rem;
    margin: 1rem;
}

img {
    width: 50%;
}

.buyButton {
    margin-top: 1rem;
    background-color: black;
    border: 2px white solid;
    width: 6rem;
    height: 3rem;
}

.buttonLink {
    font-size: 24px;
}

footer {
    display: flex;
    border-top: 2px white solid;
    margin-top: 5rem;
    justify-content: center;
    align-content: center;
}

.footerP {
    color: #454545;
    font-size: 20px;
}

.viP {
    color: #6a6a6a;
    font-size: 20px;
    margin-left: 8px;
}
